<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
    <head>
        <title> 车辆违章查询</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    </head>

    <body>

        <form action="/vehicle_violation_query/" method="post">
            {% csrf_token %} 

            <div>
                {{ form.province.errors }}
                <label for="id_province">省份:</label>
                {{ form.province }}
            </div>

            <div>
                {{ form.cityname.errors }}
                <label for="id_cityname">城市:</label>
                {{ form.cityname }}
            </div>

            <div>
                {{ form.car_province.errors }}
                <label for="id_car_province">车牌所属:</label>
                {{ form.car_province}}
            </div>

            <div>
                {{ form.license_plate_num.errors }}
                <label for="id_license_plate_num">车牌号码:</label>
                {{ form.license_plate_num}}
            </div>

            <div>
                {{ form.engine_no.errors }}
                <label for="id_engine_no">发动机号:</label>
                {{ form.engine_no}}
            </div>

            <input type="submit" value="查询"></input>
        </form>

        {% if error_msg %}
        <p>{{ error_msg }}</p>
        {% endif %}

        {% if record_list %}
            <div>
            <h4> 违章记录: </h4>        
                <ol>
                    {% for record in record_list %}
                        <li><p>
                        违章时间： <span>{{ record.date }}</span><br />
                        违章地点：<span>{{ record.area }}</span><br />
                        违章行为：<span>{{ record.act }}</span><br />
                        罚款：<span>{{ record.money }}</span><br />
                        记分：<span>{{ record.fen }}</span><br />
                        处理情况：<span>{{ record.chuli }}</span><br />
                    </p></li>
                    {% endfor %}
                </ol>       
            </div>
        {% endif %}

    </body>

</html>